
.form-select {
    width: 70% !important;
    height: 40px;
    margin-bottom: 10px; 
}

.div-scrollabile{
  height: 300px; 
  overflow-y: scroll;
  text-align: center;
}

.table-scrollabile{
  height: 300px; 
  overflow-y: scroll;
}

.text-justify{
  text-align: justify;
}

@media (max-width: 576px) {

  .order-element2 {
    order: 2;
}

  .order-element1 {
      order: 1;
  }

  .order-element0 {
      order: 0;
  }
}

.input-style {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  color: black;
}

.div-scrollabile-flow{
  height: 260px; 
  overflow-y: auto;
}

.row-style {
  margin-top: 5% !important;
}