
.form-select {
    width: 70% !important;
    height: 40px;
    margin-bottom: 10px; 
}

.div-scrollabile{
  height: 350px; 
  overflow-y: scroll;
  text-align: center;
}

.table-scrollabile{
  height: 350px; 
  overflow-y: scroll;
}

@media (max-width: 576px) {

  .order-element1 {
      order: 1;
  }

  .order-element0 {
      order: 0;
  }
}