
.form-select {
    width: 70% !important;
    height: 40px;
    margin-bottom: 10px; 
}

.div-scrollabile{
  height: 200px; 
  overflow-y: scroll;
  text-align: center;
}

.table-scrollabile{
  height: 200px; 
  overflow-y: scroll;
}

@media (min-width: 768px) {
  
  .table-center {
    margin-left: auto;
    margin-right: auto;
  }

  .table-padding {
    padding-left: 15px; 
    padding-right: 15px; 
  }
}


@media (max-width: 576px) {

  .order-element1 {
      order: 1;
  }

  .order-element0 {
      order: 0;
  }
}