html,
body {
  /*height: 100%;
  */margin: 0;
  padding: 0;
}

.main {
  flex: 1;
}

/*.heightMenu {
  height: 100%;
}*/

.sidebar{
  background-color: rgba(var(--bs-secondary-bg-rgb), .5);
}

.list-group-item-color {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  text-decoration: none;
}

.text-start-a {
  text-align: left!important;
}

.div-scrollabile-flow{
  height: 260px; 
  overflow-y: auto;
}

@media (max-width: 576px) {

  .order-element3 {
    order: 3;
}

  .order-element2 {
    order: 2;
}

  .order-element1 {
      order: 1;
  }

  .order-element0 {
      order: 0;
  }

  footer{
    margin-top: 50%;
  }

  p{
    font-size: 20px;
  }

  .text-start-a {
    text-align: left!important;
    font-size: 20px!important;
}
}

@media (max-width: 375px) {
  footer{
    margin-top: 120%;
  }
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-img{
  background-repeat: no-repeat;
}

.custom-accordion {
  padding: 5px; 
  font-size: 14px; 
}

.form-select {
    width: 70% !important;
    height: 40px;
    margin-bottom: 10px; 
}
text-justify
.div-scrollabile{
  height: 350px; 
  overflow-y: scroll;
  text-align: center;
}

.table-scrollabile{
  height: 350px; 
  overflow-y: scroll;
}

.text-justify{
  text-align: justify;
}

.lista-header{
  font-size: 20px;  
}

@media (min-width: 576px) {
  .lista-header{
    margin-left: 45%;
  }
}

.img-main {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
  height: 630px;
  background-size: cover; 
  background-repeat: no-repeat; 
  margin-bottom: 7%;
}

.main-descrizione{
  text-align: center;
  font-size: 18px;
  margin-bottom: 7%;
}

.img-main p {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  margin: 0; 
  text-align: center;
  width: 80%;
}

.img-main::before {
  content: "";
  position: absolute;
  top: 30;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 96, 96, 0.5); 
}

@media (max-width: 767px) {
  .img-main {
    height: 300px; 
  }

  .img-main p {
    font-size: 20px;
  }
}

.img-main1 {
  background-image: url('../img/immagini\ main1.jpg');
}

.img-main2 {
  background-image: url('../img/immagini\ main2.jpg');
}

.img-main3 {
  background-image: url('../img/immagini\ main3.jpg');
}

.footer-img{
  background-repeat: no-repeat;
}
